.mainContainer {
  width: 80vw;
  height: 80vh;
  margin: 5vh 10vw;
  display: flex;
  flex-direction: row;
}

#root {
  display: flex;
}
#info {
  justify-content: center;
  width: 80vw;
  height: 80vh;
  margin: 5vh 10vw;
  display: flex;
  flex-direction: row;
}

#table {
  width: 40vw;
  overflow-y: scroll;
}

#canvas {
  width: 30vw;
}

.ui.table thead tr:first-child > th {
  position: sticky !important;
  top: 0;
  z-index: 2;
}

.title {
  display: flex;
  justify-content: center;
}
